<div class="table_card_income">
    <div class="table_captions">Income</div>
    {% if not income %}
        <h2>No entries</h2>
    {% else %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sr. No.</th>
            {% for field in income[0] %}
                {% if field != "id" %}
                    <th>{{ field.upper() }}</th>
                {% endif %}
            {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(i = 1) %}
            {% for obj in income %}
            <tr>
                <td>{{ ns.i }}</td>
                {% set ns.i = ns.i + 1 %}
                <td>{{ obj.timestamp }}</td>
                <td>{{ obj.amount | usd }}</td>
                <td>{{ obj.category.title() }}</td>
                <td>{{ obj.note }}</td>
                <td>
                    <form onsubmit="deleteEntryIncome(event)">
                        <input type="hidden" name="id" value="{{ obj.id }}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<div class="table_card_expense">
    <div class="table_captions">Expense</div>
    {% if not expense %}
        <h2>No entries</h2>
    {% else %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sr. No.</th>
            {% for field in expense[0] %}
                {% if field != "id" %}
                    <th>{{ field.upper() }}</th>
                {% endif %}
            {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(i = 1) %}
            {% for obj in expense %}
            <tr>
                <td>{{ ns.i }}</td>
                {% set ns.i = ns.i + 1 %}
                <td>{{ obj.timestamp }}</td>
                <td>{{ obj.amount | usd}}</td>
                <td>{{ obj.category.title() }}</td>
                <td>{{ obj.note }}</td>
                <td>
                    <form onsubmit="deleteEntryExpense(event)">
                        <input type="hidden" name="id" value="{{ obj.id }}">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
