{% extends "layout.html" %}

{% block title %}
    Income
{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}

{% block main %}
    <div class="mgin-l">
        <h1 class="mb-3">Add Income:</h1>
        <form class="gy-5 text-start" style="max-width: 250px; margin: auto;" action="/add_income" method="post">
            <div class="mb-3 form-floating">
                <input class="form-control" type="number" step=".01" min="1" id="amount" name="amount" placeholder="$">
                <label class="form-label" for="amount">Amount:</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="category" name="category">
                    <option disabled selected>Select</option>
                    {% for category in in_cat %}
                    <option value="{{ category }}">{{ category.title() }}</option>
                    {% endfor %}
                </select>
                <label class="form-label" for="category">Category:</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" type="datetime-local" id="date" name="date" placeholder="Select Date">
                <label class="form-label" for="date">Date:</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="note" name="note"></textarea>
                <label class="form-label" for="note">Note:</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}