/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-weight: bold;
}

/* Colors for theme */
.grapefruit-light
{
    color: #ed5565;
}
.grapefruit-dark
{
    color: #da4453;
}
.bittersweet-light
{
    color: #fc6e51;
}
.bittersweet-dark
{
    color: #e9573f;
}
.sunflower-light
{
    color: #ffce54;
}
.sunflower-dark
{
    color: #f6bb42;
}
.grass-light
{
    color: #a0d468;
}
.grass-dark
{
    color: #8cc152;
}
.mint-light
{
    color: #48cfad;
}
.mint-dark
{
    color: #37bc9b;
}
.aqua-light
{
    color: #4fc1e9;
}
.aqua-dark
{
    color: #38AFDA;
}
.blue-light
{
    color: #5d9cec;
}
.blue-dark
{
    color: #4a89dc
}

.sidebar {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .mgin-l {
    margin-left: 16.6%;
  }

  .home-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    row-gap: 30px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .mgin-l {
        margin-left: 0;
    }
  }

.table_captions {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.table_card_income {
  padding: 20px;
  box-shadow: 5px 5px 10px #8cc152;
}

.table_card_expense {
  padding: 20px;
  box-shadow: 5px 5px 10px #ed5565;
}

.total_income {
  background-color: #8cc152;
}

.total_expense {
  background-color: #da4453;
}