{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <div class="container" style="max-width: 500px;">
        <form class="mb-3" action="/ch_password" method="post">
            <div class="form-floating mb-3">
                <input name="old" type="password" id="inputPassword1" class="form-control" placeholder="password" autofocus>
                <label for="inputPassword1">Old Password</label>
            </div>

            <div class="form-floating mb-3">
                <input name="new" type="password" id="inputPassword2" class="form-control" placeholder="password">
                <label for="inputPassword2"> New Password</label>
                <div id="passwordHelpBlock" class="form-text">
                    Your password must contain letters and numbers, and must not contain spaces, special characters, or emoji.
                </div>
            </div>

            <div class="form-floating mb-3">
                <input name="conform" type="password" id="inputPassword3" class="form-control" placeholder="password">
                <label for="inputPassword3">Conform Password</label>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
{% endblock %}